html {
  font-size: 25px;
}

@theme {
  /* background for top up label */
  --float-label-background-color: var(--color-white);
  --float-label-color: var(--color-gray-600);
}

@layer components {
  .float-container {
    /* classic version */
    /*position: relative;*/

    /* grid version */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1rem 1fr;

    /* Label when input has no value and focused */
    &:has(.float-input:focus) .float-label {
      /*transform: translateY(-1.75rem) translateX(-0.5rem) scale(0.85);*/
    }

    /* Label when input has value and not focused */
    &:has(.float-input:not(:placeholder-shown)) .float-label {
      @apply px-1 opacity-100 -translate-y-5 translate-x-2 scale-75 w-fit;
      background-color: var(--float-label-background-color);
      color: var(--float-label-color);
    }

    .float-input {
      /* classic version */
      /*transition: all 0.2s ease-out;*/

      /* grid version */
      @apply transition-all duration-200 col-[1] row-[2];

      &::placeholder {
        color: transparent;
      }
    }

    /** Placeholder replacement */
    .float-label {
      /* classic version */
      /*@apply top-2 left-3;
      /*position: absolute;
      pointer-events: none;
      transition: all 0.2s ease-out;
      transform-origin: 0 0;
      opacity: 0.5;*/

      /* grid version */
      @apply col-[1] row-[2] self-center pointer-events-none transition-all duration-200 origin-[0_0] opacity-50;
      @apply px-3;
    }
  }
}
